<!--Form Tittle-->
<?php
$param = $this->getRequest()->getParams();
$data = Mage::registry('giftdata');
?>
<div class="page-title">
    <h2><?php if($param){
            echo $this->__('Edit Gift Card');
        }
            else{
                echo $this->__('Add New Gift Card');
            } ?>
    </h2>
</div>
<!--Form Information-->
<form id="giftcard-form validate" method="post" action="<?php if($data){echo $this->getEditAction($data['code_id']);}else{ echo $this->getAddAction();} ?>">
    <div class="fieldset">
        <h2 class="legend"><?php echo $this->__('GiftCard Information') ?></h2>
        <ul class="form-list">
            <li class="fields">
                <div class="name">
                    <div class="field name-firstname">
                        <label class="required" for="firstname"><em>*</em><?php echo $this->__('Title') ?></label>
                        <div class="input-box">
                            <input type="text" class="input-text required-entry" maxlength="255" title="Title" value="<?php echo $data['title'];?>" name="title" id="title">
                        </div>
                    </div>
                    <div class="field giftcode">
                        <label class="required" for="giftcode"><em>*</em><?php echo $this->__('Gift Code') ?></label>
                        <div class="input-box">
                            <input type="text" class="input-text required-entry" maxlength="255" title="Giftcode" value="<?php echo $data['giftcode'];?>" name="giftcode" id="giftcode">
                        </div>
                    </div>
                    <div class="field amount">
                        <label class="required" for="amount"><em>*</em><?php echo $this->__('Amount') ?></label>
                        <div class="input-box">
                            <input type="text" class="input-text required-entry validate-number" maxlength="255" title="Amount" value="<?php echo $data['amount'];?>" name="amount" id="amount">
                        </div>
                    </div>
                    <div class="field status">
                        <label class="required" for="status"><em>*</em><?php echo $this->__('Status') ?></label>
                        <div class="input-box">
                            <select class="input-text validate-select" title="Status" default="<?php echo $data['status'];?>" name="status" id="status">
<!--                                <option value="">Please select status</option>-->
                                <option value=0>Disable</option>
                                <option value=1>Enable</option>
                            </select>
                        </div>
                    </div>
<!--                    <div class="field created_time">-->
<!--                        <label class="" for="created_time">--><?php //echo $this->__('Created time') ?><!--</label>-->
<!--                        <div class="input-box">-->
<!--                            <input type="text" class="input-text" maxlength="255" title="created_time" value="--><?php //echo $data['created_time'];?><!--" name="created_time" id="created_time" >-->
<!--                            <img style="" title="Select Date" id="_dob_trig" class="v-middle" alt="" src="--><?php //echo $this->getSkinUrl('images/calendar.gif') ;?><!--">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="field update_time">-->
<!--                        <label class="" for="update_time">--><?php //echo $this->__('Update time') ?><!--</label>-->
<!--                        <div class="input-box">-->
<!--                            <input type="text" class="input-text" maxlength="255" title="update_time" value="--><?php //echo $data['update_time'];?><!--" name="update_time" id="update_time">-->
<!--                            <img style="" title="Select Date" id="_dob_trig" class="v-middle" alt="" src="--><?php //echo $this->getSkinUrl('images/calendar.gif') ;?><!--">-->
<!--                        </div>-->
<!--                        <li class="fields">-->
<!--                            <div class="field">-->
<!--                                <label for="dob">--><?php //echo Mage::helper('contacts')->__('DOB') ?><!--</label>-->
<!--                                <div class="date">-->
<!--                                    <input name="datetime" id="datetime" title="--><?php //echo Mage::helper('contacts')->__('DOB') ?><!--"  class="input-text" type="datetime-local"/>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                    </div>-->
                </div>
            </li>
        </ul>
        </div>

    <div class="buttons-set">
        <p class="required">* <?php echo $this->__('Required Fields') ?></p>
        <p class="back-link"><a class="back-link" href="<?php echo $this->getBaseUrl(); ?>">
                <small>&laquo;</small>
                Back</a></p>
        <button class="button" title="submit" type="submit"><span><span><?php if($param){echo $this->__('Edit');}else{echo$this->__('Add New'); } ?></span></span>
        </button>
    </div>

</form>


<script type="text/javascript">
//<![CDATA[
//var dataForm = new VarienForm('giftcard-form validate', true);
//Calendar.setup({
//    inputField : 'datetime',
//    ifFormat : '<?php //echo $this->getDateFormat() ?>//',
//    button : 'datetime',
//    align : 'Bl',
//    singleClick : true
//});
</script>

